@{
    ViewBag.Title = "Index";  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>fghjk</title>
    @*    <link href="~/Content/kendo/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/css/kendo.bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    @*    <script src="~/Scripts/kendo/kendo.all.min.js"></script>*@

    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>

    <div>
    
        <span>Первые блюда</span>
        @(Html.Kendo()
            .Grid((IEnumerable<StaffMeals.Entities.FullMenu>)ViewBag.Menu1)
            .Name("grid1")                        
            .Columns(columns =>
            {

                columns.Bound(p => p.Title).Width(700).HeaderTemplate("Продукты");
                columns.Bound(p => p.Price).HeaderTemplate("Цена руб.");
               
            }
                    )
            .Pageable()
            .Sortable()
            )
        <br />
    </div>
    <div>
        <span>Вторые блюда</span>
        @(Html.Kendo()
            .Grid((IEnumerable<StaffMeals.Entities.FullMenu>)ViewBag.Menu2)
            .Name("grid2")
            .Columns(columns =>
            {
                columns.Bound(p => p.Title).Width(700).HeaderTemplate("Продукты");
                columns.Bound(p => p.Price).HeaderTemplate("Цена руб.");
               
            }
                     )
            .Pageable()
            .Sortable()
          )
        <br />
    </div>

    <div>
        <span>Салаты</span>
        @(Html.Kendo()
            .Grid((IEnumerable<StaffMeals.Entities.FullMenu>)ViewBag.Menu3)
            .Name("grid3")
            .Columns(columns =>
            {
                columns.Bound(p => p.Title).Width(700).HeaderTemplate("Продукты");
                columns.Bound(p => p.Price).HeaderTemplate("Цена руб.");
                
            }
                    )
            .Pageable()
            .Sortable()
          )
        <br />
    </div>

    <div>
        <span>Выпечки</span>
        @(Html.Kendo()
            .Grid((IEnumerable<StaffMeals.Entities.FullMenu>)ViewBag.Menu4)
            .Name("grid4")
            .Columns(columns =>
            {
                columns.Bound(p => p.Title).Width(700).HeaderTemplate("Продукты");
                columns.Bound(p => p.Price).HeaderTemplate("Цена руб.");
               
            }
                    )
            .Pageable()
            .Sortable()
            )
        <br />
    </div>
   
</body>
</html>





